In [2]:
import pandas as pd
df = pd.read_csv(r"D:\SNU\SEM 4\ML\datasets\classification.csv")

In [3]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
x = df.drop('Purchased',axis = 1)

In [5]:
y = df['Purchased']

In [6]:
x.shape

(400, 2)

In [7]:
import numpy as np

In [8]:
def sigmoid(x):
    return 1.0/1+np.exp(-x)

In [31]:
def gradients(x,y,y_hat):
    m,n = x.shape
    dw = (1.0/m)*(np.dot(x.T,(y-y_hat)))
    db = (1.0/m)*np.sum(y-y_hat)
    return dw,db

In [32]:
y=np.asarray(y)

In [33]:
x = np.asarray(x)

In [34]:
def lr(x,y,epochs,l=0.001):
    m,n = x.shape
    w = np.zeros((n,1))
    b = 0
    y = y.reshape(m,1)
    for i in range(epochs):
        y_hat = sigmoid(np.dot(x,w)+b)
        dw,db = gradients(x,y,y_hat)
        w-=l*dw
        b-=l*db
    return w,b

In [35]:
w,b=lr(x,y,epochs = 10,l = 0.00001)

In [36]:
def predict(x,y,w,b):
    y_pred = sigmoid(np.dot(x,w)+b)
    return y_pred

In [30]:
x.shape

(400, 2)