In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
from sklearn.datasets import load_boston
import numpy as np
import pandas as pd

In [4]:
df=load_boston()

In [5]:
dataset=pd.DataFrame(df['data'])
dataset.column=df['feature_names']

In [6]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
dataset['PRICE']=df['target']

In [8]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [9]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
lin=LinearRegression()

In [10]:
res= cross_val_score(lin,x,y,scoring='neg_mean_squared_error',cv=5)
mse=np.mean(res)
print(mse)

-37.13180746769922

In [11]:
from sklearn.linear_model import Ridge , Lasso
ridge=Ridge()
from sklearn.model_selection import GridSearchCV
parameter = {'alpha':[0,1e-10,1e-15,2,4,5,10,100,151,160,1000]}

In [12]:
ridge_grid= GridSearchCV(ridge ,param_grid = parameter , scoring= 'neg_mean_squared_error',cv=5)
ridge_grid.fit(x,y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [0, 1e-10, 1e-15, 2, 4, 5, 10, 100, 151, 160,
                                   1000]},
             scoring='neg_mean_squared_error')

In [13]:
print(ridge_grid.best_params_)
print(ridge_grid.best_score_)

{'alpha': 151}
-29.75364039302366

In [14]:
lasso=Lasso()
lasso_grid=GridSearchCV(lasso ,param_grid = parameter , scoring= 'neg_mean_squared_error',cv=5)
lasso_grid.fit(x,y)

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [0, 1e-10, 1e-15, 2, 4, 5, 10, 100, 151, 160,
                                   1000]},
             scoring='neg_mean_squared_error')

In [15]:
print(lasso_grid.best_params_)
print(lasso_grid.best_score_)

{'alpha': 1e-10}
-37.13180745693252